.chapter-1 {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
}

/*** 共通 ***/
.chapter-1__view-1,
.chapter-1__effects {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  @include pc-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  @include sp-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .effect {
    position: relative;
    overflow: hidden;
    @include pc-layout { width: 30vw; height: 30vw; }
    @include sp-layout { width: 30vh; height: 30vh; }
  }
}

/**
 * effects-1
 */
.chapter-1__effects-1 {
  .effect {
    &::before, &::after {
      content: ""; display: block;
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      border-radius: 50%;
      transform: scale(0);
    }
    &::before { background-color: #c3ce5f; }
    &::after  { background-color: #fff; }
  }
}

/**
 * effects-2
 */
.chapter-1__effects-2 {
  .effect {
    &::before, &::after {
      content: ""; display: block;
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      transform: scale(0);
    }
    &::before { background-color: #c45c66; }
    &::after  { background-color: #fff; }
  }
}

/**
 * effects-3
 */
.chapter-1__effects-3 {
  .effect {
    &::before, &::after {
      content: ""; display: block;
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      transform-origin: left bottom;
      transform: rotate(-90deg);
    }
    &::before { background-color: #4aa9a4; }
    &::after  { background-color: #fff; }
  }
}

/**
 * effects-4
 */
.chapter-1__effects-4 {
  .effect {
    display: flex;
    flex-wrap: wrap;

    span {
      display: block;
      width: 50%; height: 50%;
      background-color: #ce9740;
      transform: scale(0);
    }
  }
}

/**
 * view-1
 */
.chapter-1__view-1 {
  div {
    @include pc-layout { width: 25%; height: 100%; }
    @include sp-layout { width: 100%; height: 25%; }
    background-color: #283c5f;
    opacity: 0;
  }
}

/****************************************************************************************
  animation
*****************************************************************************************/
.chapter-1[data-state="active"] {
  /**
   * effects-1
   */
  .chapter-1__effects-1 {
    .effect:nth-child(1) {
      &::before { animation: scale0-1 0.4s ease 0s forwards; }
      &::after  { animation: scale0-1 0.4s ease 0.1s forwards; }
      animation: fadeout 0.01s ease 0.5s forwards;
    }
    .effect:nth-child(2) {
      &::before { animation: scale0-1 0.4s ease 0.2s forwards; }
      &::after  { animation: scale0-1 0.4s ease 0.3s forwards; }
      animation: fadeout 0.01s ease 0.7s forwards;
    }
    .effect:nth-child(3) {
      &::before { animation: scale0-1 0.4s ease 0.4s forwards; }
      &::after  { animation: scale0-1 0.4s ease 0.5s forwards; }
      animation: fadeout 0.01s ease 0.9s forwards;
    }
  }

  /**
   * effects-2
   */
  .chapter-1__effects-2 {
    .effect:nth-child(1) {
      &::before { animation: scale0-1 0.4s ease 0.6s forwards; }
      &::after  { animation: scale0-1 0.4s ease 0.7s forwards; }
      animation:
        turn1 0.5s ease 0.6s forwards,
        fadeout 0.01s ease 1.1s forwards;
    }
    .effect:nth-child(2) {
      &::before { animation: scale0-1 0.4s ease 0.8s forwards; }
      &::after  { animation: scale0-1 0.4s ease 0.9s forwards; }
      animation:
        turn1 0.5s ease 0.8s forwards,
        fadeout 0.01s ease 1.3s forwards;
    }
    .effect:nth-child(3) {
      &::before { animation: scale0-1 0.4s ease 1.0s forwards; }
      &::after  { animation: scale0-1 0.4s ease 1.1s forwards; }
      animation:
        turn1 0.5s ease 1.0s forwards,
        fadeout 0.01s ease 1.5s forwards;
    }
  }

  /**
   * effects-3
   */
  .chapter-1__effects-3 {
    .effect:nth-child(1) {
      &::before {
        animation:
          chapter-1__show-effects-3 0.4s cubic-bezier(1, 0, 0, 1) 1.2s forwards,
          chapter-1__hidden-effects-3 0.4s cubic-bezier(1, 0, 0, 1) 1.8s forwards;
      }
      &::after {
        animation:
          chapter-1__show-effects-3 0.4s cubic-bezier(1, 0, 0, 1) 1.3s forwards,
          chapter-1__hidden-effects-3 0.4s cubic-bezier(1, 0, 0, 1) 1.7s forwards;
      }
    }
    .effect:nth-child(2) {
      &::before {
        animation:
          chapter-1__show-effects-3 0.4s cubic-bezier(1, 0, 0, 1) 1.4s forwards,
          chapter-1__hidden-effects-3 0.4s cubic-bezier(1, 0, 0, 1) 2.0s forwards;
      }
      &::after {
        animation:
          chapter-1__show-effects-3 0.4s cubic-bezier(1, 0, 0, 1) 1.5s forwards,
          chapter-1__hidden-effects-3 0.4s cubic-bezier(1, 0, 0, 1) 1.9s forwards;
      }
    }
    .effect:nth-child(3) {
      &::before {
        animation:
          chapter-1__show-effects-3 0.4s cubic-bezier(1, 0, 0, 1) 1.6s forwards,
          chapter-1__hidden-effects-3 0.4s cubic-bezier(1, 0, 0, 1) 2.2s forwards;
      }
      &::after {
        animation:
          chapter-1__show-effects-3 0.4s cubic-bezier(1, 0, 0, 1) 1.7s forwards,
          chapter-1__hidden-effects-3 0.4s cubic-bezier(1, 0, 0, 1) 2.1s forwards;
      }
    }
  }

  /**
   * effects-4
   */
  .chapter-1__effects-4 {
    .effect:nth-child(1) {
      span:nth-child(1) { animation: scale0-1 0.3s ease 2.1s 2 alternate forwards; }
      span:nth-child(2) { animation: scale0-1 0.3s ease 2.2s 2 alternate forwards; }
      span:nth-child(3) { animation: scale0-1 0.3s ease 2.3s 2 alternate forwards; }
      span:nth-child(4) { animation: scale0-1 0.3s ease 2.4s 2 alternate forwards; }
    }
    .effect:nth-child(2) {
      span:nth-child(1) { animation: scale0-1 0.3s ease 2.4s 2 alternate forwards; }
      span:nth-child(2) { animation: scale0-1 0.3s ease 2.5s 2 alternate forwards; }
      span:nth-child(3) { animation: scale0-1 0.3s ease 2.6s 2 alternate forwards; }
      span:nth-child(4) { animation: scale0-1 0.3s ease 2.7s 2 alternate forwards; }
    }
    .effect:nth-child(3) {
      span:nth-child(1) { animation: scale0-1 0.3s ease 2.7s 2 alternate forwards; }
      span:nth-child(2) { animation: scale0-1 0.3s ease 2.8s 2 alternate forwards; }
      span:nth-child(3) { animation: scale0-1 0.3s ease 2.9s 2 alternate forwards; }
      span:nth-child(4) { animation: scale0-1 0.3s ease 3.0s 2 alternate forwards; }
    }
  }

  /**
   * view-1
   */
  .chapter-1__view-1 {
    div:nth-child(1) { animation: fadein 0.05s linear 3.1s 3 alternate forwards; }
    div:nth-child(2) { animation: fadein 0.05s linear 3.2s 3 alternate forwards; }
    div:nth-child(3) { animation: fadein 0.05s linear 3.3s 3 alternate forwards; }
    div:nth-child(4) { animation: fadein 0.05s linear 3.4s 3 alternate forwards; }
  }
}