.chapter-3 {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
}


/******************************************************************
  animation
*******************************************************************/
.chapter-3[data-state="active"] {
  background-color: #4DADAD;
}