.chapter-3 {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
}

/*** 共通 ***/
.chapter-3__word {
  position: absolute;
  top: calc(50% - 20vmin - 10px); left: calc(50% - 10vmin);
  width: 20vmin; height: 40vmin;

  .char {
    position: relative;
    width: 20vmin; height: 20vmin;
    display: flex;
    flex-wrap: wrap;
    &:last-child { margin-top: 20px; }

    div {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: flex;
      flex-wrap: wrap;
      perspective: 1000px;
      transform-style: preserve-3d;

      span {
        display: block;
        width: 50%; height: 50%;
        background-size: 200% 200%;
        background-repeat: no-repeat;
        opacity: 0;
      }
      span:nth-child(1) { background-position: left top; }
      span:nth-child(2) { background-position: right top; }
      span:nth-child(3) { background-position: left bottom; }
      span:nth-child(4) { background-position: right bottom; }
    }
  }
}

/**
 * kako
 */
.chapter-3__kako {
  .char:nth-child(1) div span { background-image: url(../images/kako/1.svg); }
  .char:nth-child(2) div span { background-image: url(../images/kako/2.svg); }
}

/**
 * mirai
 */
.chapter-3__mirai {
  .char:nth-child(1) div span { background-image: url(../images/mirai/1.svg); }
  .char:nth-child(2) div span { background-image: url(../images/mirai/2.svg); }
}

/**
 * saikai
 */
.chapter-3__saikai {
  .char:nth-child(1) div span { background-image: url(../images/saikai/1.svg); }
  .char:nth-child(2) div span { background-image: url(../images/saikai/2.svg); }
}


/******************************************************************
  animation
*******************************************************************/
.chapter-3[data-state="active"] {
  background-color: #4DADAD;
  animation:
    chapter-3__change-color-1 1.5s ease 4s forwards,
    chapter-3__change-color-2 1.5s ease 7s forwards;

  /**
   * kako
   */
  .chapter-3__kako {
    .char:nth-child(2) {
      div:nth-child(2) {
        span:nth-child(4) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 0s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 1.6s forwards;
        }
        span:nth-child(3) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 0.1s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 1.7s forwards;
        }
        span:nth-child(2) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 0.2s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 1.8s forwards;
        }
        span:nth-child(1) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 0.3s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 1.9s forwards;
        }
      }
      div:nth-child(1) {
        span:nth-child(4) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 0.4s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 2.0s forwards;
        }
        span:nth-child(3) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 0.5s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 2.1s forwards;
        }
        span:nth-child(2) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 0.6s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 2.2s forwards;
        }
        span:nth-child(1) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 0.7s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 2.3s forwards;
        }
      }
    }
    .char:nth-child(1) {
      div:nth-child(2) {
        span:nth-child(4) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 0.8s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 2.4s forwards;
        }
        span:nth-child(3) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 0.9s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 2.5s forwards;
        }
        span:nth-child(2) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 1.0s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 2.6s forwards;
        }
        span:nth-child(1) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 1.1s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 2.7s forwards;
        }
      }
      div:nth-child(1) {
        span:nth-child(4) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 1.2s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 2.8s forwards;
        }
        span:nth-child(3) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 1.3s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 2.9s forwards;
        }
        span:nth-child(2) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 1.4s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 3.0s forwards;
        }
        span:nth-child(1) {
          animation:
            chapter-3__show-kako 1s cubic-bezier(0.01, 0.24, 0, 1) 1.5s forwards,
            chapter-3__hidden-kako 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 3.1s forwards;
        }
      }
    }
  }

  /**
   * mirai
   */
  .chapter-3__mirai {
    .char:nth-child(1) div:nth-child(2) {
      span:nth-child(4) {
        animation:
          chapter-3__show-mirai-1 1s cubic-bezier(0.01, 0.24, 0, 1) 4s forwards,
          chapter-3__hidden-mirai-1 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 5.4s forwards;
      }
      span:nth-child(3) {
        animation:
          chapter-3__show-mirai-1 1s cubic-bezier(0.01, 0.24, 0, 1) 4.1s forwards,
          chapter-3__hidden-mirai-1 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 5.5s forwards;
      }
      span:nth-child(2) {
        animation:
          chapter-3__show-mirai-1 1s cubic-bezier(0.01, 0.24, 0, 1) 4.2s forwards,
          chapter-3__hidden-mirai-1 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 5.6s forwards;
      }
      span:nth-child(1) {
        animation:
          chapter-3__show-mirai-1 1s cubic-bezier(0.01, 0.24, 0, 1) 4.3s forwards,
          chapter-3__hidden-mirai-1 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 5.7s forwards;
      }
    }
    .char:nth-child(1) div:nth-child(1) {
      span:nth-child(4) {
        animation:
          chapter-3__show-mirai-1 1s cubic-bezier(0.01, 0.24, 0, 1) 4.4s forwards,
          chapter-3__hidden-mirai-1 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 5.8s forwards;
      }
      span:nth-child(3) {
        animation:
          chapter-3__show-mirai-1 1s cubic-bezier(0.01, 0.24, 0, 1) 4.5s forwards,
          chapter-3__hidden-mirai-1 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 5.9s forwards;
      }
      span:nth-child(2) {
        animation:
          chapter-3__show-mirai-1 1s cubic-bezier(0.01, 0.24, 0, 1) 4.6s forwards,
          chapter-3__hidden-mirai-1 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 6.0s forwards;
      }
      span:nth-child(1) {
        animation:
          chapter-3__show-mirai-1 1s cubic-bezier(0.01, 0.24, 0, 1) 4.7s forwards,
          chapter-3__hidden-mirai-1 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 6.1s forwards;
      }
    }
    .char:nth-child(2) div:nth-child(2) {
      span:nth-child(4) {
        animation:
          chapter-3__show-mirai-2 1s cubic-bezier(0.01, 0.24, 0, 1) 4s forwards,
          chapter-3__hidden-mirai-2 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 5.4s forwards;
      }
      span:nth-child(3) {
        animation:
          chapter-3__show-mirai-2 1s cubic-bezier(0.01, 0.24, 0, 1) 4.1s forwards,
          chapter-3__hidden-mirai-2 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 5.5s forwards;
      }
      span:nth-child(2) {
        animation:
          chapter-3__show-mirai-2 1s cubic-bezier(0.01, 0.24, 0, 1) 4.2s forwards,
          chapter-3__hidden-mirai-2 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 5.6s forwards;
      }
      span:nth-child(1) {
        animation:
          chapter-3__show-mirai-2 1s cubic-bezier(0.01, 0.24, 0, 1) 4.3s forwards,
          chapter-3__hidden-mirai-2 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 5.7s forwards;
      }
    }
    .char:nth-child(2) div:nth-child(1) {
      span:nth-child(4) {
        animation:
          chapter-3__show-mirai-2 1s cubic-bezier(0.01, 0.24, 0, 1) 4.4s forwards,
          chapter-3__hidden-mirai-2 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 5.8s forwards;
      }
      span:nth-child(3) {
        animation:
          chapter-3__show-mirai-2 1s cubic-bezier(0.01, 0.24, 0, 1) 4.5s forwards,
          chapter-3__hidden-mirai-2 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 5.9s forwards;
      }
      span:nth-child(2) {
        animation:
          chapter-3__show-mirai-2 1s cubic-bezier(0.01, 0.24, 0, 1) 4.6s forwards,
          chapter-3__hidden-mirai-2 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 6.0s forwards;
      }
      span:nth-child(1) {
        animation:
          chapter-3__show-mirai-2 1s cubic-bezier(0.01, 0.24, 0, 1) 4.7s forwards,
          chapter-3__hidden-mirai-2 1s cubic-bezier(0.93, 0.01, 0.99, 0.62) 6.1s forwards;
      }
    }
  }

  /**
   * saikai
   */
  .chapter-3__saikai {
    .char:nth-child(1) div:nth-child(2) {
      span:nth-child(1) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 7s forwards;
      }
      span:nth-child(2) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 7.1s forwards;
      }
      span:nth-child(3) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 7.2s forwards;
      }
      span:nth-child(4) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 7.3s forwards;
      }
    }
    .char:nth-child(1) div:nth-child(1) {
      span:nth-child(1) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 7.4s forwards;
      }
      span:nth-child(2) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 7.5s forwards;
      }
      span:nth-child(3) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 7.6s forwards;
      }
      span:nth-child(4) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 7.7s forwards;
      }
    }
    .char:nth-child(2) div:nth-child(2) {
      span:nth-child(1) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 7.8s forwards;
      }
      span:nth-child(2) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 7.9s forwards;
      }
      span:nth-child(3) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 8.0s forwards;
      }
      span:nth-child(4) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 8.1s forwards;
      }
    }
    .char:nth-child(2) div:nth-child(1) {
      span:nth-child(1) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 8.2s forwards;
      }
      span:nth-child(2) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 8.3s forwards;
      }
      span:nth-child(3) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 8.4s forwards;
      }
      span:nth-child(4) {
        animation: chapter-3__show-saikai 1s cubic-bezier(0.01, 0.24, 0, 1) 8.5s forwards;
      }
    }
  }
}