.chapter-1
  .chapter-1__effects.chapter-1__effects-1
    .effect
    .effect
    .effect
  .chapter-1__effects.chapter-1__effects-2
    .effect
    .effect
    .effect
  .chapter-1__effects.chapter-1__effects-3
    .effect
    .effect
    .effect
  .chapter-1__effects.chapter-1__effects-4
    .effect
      span
      span
      span
      span
    .effect
      span
      span
      span
      span
    .effect
      span
      span
      span
      span
  .chapter-1__view-1
    div
    div
    div
    div