.chapter-3
  .chapter-3__word.chapter-3__kako
    .char
      div
        span
        span
        span
        span
      div
        span
        span
        span
        span
    .char
      div
        span
        span
        span
        span
      div
        span
        span
        span
        span
  .chapter-3__word.chapter-3__mirai
    .char
      div
        span
        span
        span
        span
      div
        span
        span
        span
        span
    .char
      div
        span
        span
        span
        span
      div
        span
        span
        span
        span
  .chapter-3__word.chapter-3__saikai
    .char
      div
        span
        span
        span
        span
      div
        span
        span
        span
        span
    .char
      div
        span
        span
        span
        span
      div
        span
        span
        span
        span