.chapter-1
  .chapter-1__effects
    .effect
    .effect
    .effect
  .chapter-1__text
    .char
    .char
    .char
    .char
    .char
  .chapter-1__panel
  .chapter-1__end
    .view
    .view
    .view
