extends layout

block style
  link(rel="stylesheet" href="./stylesheets/style.css")

block content
  include modules/chapter-1
  include modules/chapter-2
  include modules/chapter-3

block script
  script(src="./scripts/app.js")