@keyframes chapter-1__show-effects-3 {
  from { transform: rotate(-90deg); }
  to   { transform: rotate(0deg); }
}
@keyframes chapter-1__hidden-effects-3 {
  from { transform: rotate(0deg); }
  to   { transform: rotate(90deg); }
}